.created-assessment {
  .title {
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
  }

  .group {
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: flex-start;

    .radio {
      width: 50%;
      position: relative;

      .van-radio {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .van-button {
    margin: 40px auto;
    display: block;
    width: 160px;
    line-height: 44px;
    border-radius: 6px;
  }

  .divider {
    height: 5px;
    width: 100%;
    background: #EEEEEE;
  }
}
