var filter = {
  formatTime: function(params, on = true) {
    if (params) {
      var date = getDate(params)
      var year = date.getFullYear()
      var month = date.getMonth() + 1
      var day = date.getDate()
      var arr = on ? [year, month, day] : [year, month]
      return arr.map(formatNumber).join('-')
    } else {
      return ''
    }
  },
  getMonth: function(params) {
    if (params) {
      return getDate(params).getMonth() + 1
    } else {
      return ''
    }
  }
}
var formatNumber = function (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

module.exports = filter
