var filter = {
  formatTime: function(params) {
    if (params) {
      var date = getDate(params)
      var year = date.getFullYear()
      var month = date.getMonth() + 1
      var day = date.getDate()

      return [year, month, day].map(formatNumber).join('-')
    } else {
      return ''
    }
  }
}
var formatNumber = function (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

module.exports = {
  formatTime: filter.formatTime
}
